#counter{
    display: block;
    text-align: center;
    font-size: 10em;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
#btnContainer{
    /* display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px; */
    text-align: center;
}
.btn{
    padding: 5px;
    margin: 2px;
    background-color: aqua;
    color: black;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    
}
.btn:hover{
    background-color: blue;
    transition: .5s;
}
body{
    background-color: burlywood
}